* {
    font-family: Helvetica;
  }
  
  
  h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: relative;
    background-image: url("../pattern.jpeg");
  }
  

  h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
  }


  #Brushes h2 {
    background-color: mediumspringgreen;
  }


  #Frames h2 {
    background-color: lightcoral;
  }


  #Paint h2 {
    background-color: skyblue;
  }
  
  
  a {
    font-weight: bold;
    color: blue;
  }